.DS_Store
build/
ios/DerivedData/

**/.DS_Store

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
iphone/xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
ios/metadata.json
ios/ti.googlesignin.xcodeproj/project.xcworkspace/xcuserdata/
ios/ti.googlesignin.xcodeproj/xcuserdata
