FRAMEWORK_SEARCH_PATHS=$(SRCROOT)/../../modules/iphone/ti.googlesignin/$(TI_MODULE_VERSION)/platform "~/Library/Application\ Support/Titanium/modules/iphone/ti.googlesignin/$(TI_MODULE_VERSION)/platform"

OTHER_LDFLAGS = $(inherited) -framework SafariServices -framework GoogleSignIn -framework GoogleSignInDependencies
